@CHARSET "UTF-8";
table{;
	width:200%;
	margin-top:4%;
	margin-left:35%;
}

table th{
	text-align:left;
	padding:4%;
	width:40%;
}

table td{
	width:70%;
}

#CheckCreditAction{
	height:30px;
	width:600px;
	font-size:110%;
}

#CheckCreditAction2{
	height:30px;
	width:210px;
	font-size:110%;
}

#CheckCreditAction3{
	height:30px;
	width:60px;
	font-size:110%;
}

input#CheckCreditAction_0 {
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 0 30px;
	vertical-align: middle;
	background: #000000;
	font-size: 20px;
	color: rgb(255, 255, 255);
	transition: .4s;
	height:30px;
	width:300px;
	border-style: none;
	margin-left:106%;
	margin-top:7%;
}

footer{
	margin-top:38%;
}