@CHARSET "UTF-8";
.main{
	margin-top:13%;
	text-align:center;
}

.button{
	font-size: 19px;;
	font-weight: bold;
	padding: 5px 20px;
	background-color: #000000;
	color: #fff;
}

footer{
	margin-top:20%;
}