@CHARSET "UTF-8";
body{
	heigth:100%;
	wedth:100%;
}

.main{
	margin-top:15%;
	margin-left:34%;
}

.button{
	font-size: 19px;;
	font-weight: bold;
	padding: 5px 20px;
	background-color: #000000;
	color: #fff;
}

footer{
	margin-top:15%
}